@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Main body Styling */
body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    font-size: 20px;
    background-color: #000;
    color: #eee;
}

/* a tag styling */
a {
    color: #eee;
    text-decoration: none;
}

/* Header Styling */
header {
    max-width: 80%;
    width: 1140px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    margin-right: 40px;
}

/* slider styling */
.slider {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* text styling in slider */
.slider .list .item .content {
    position: absolute;
    top: 20%;
    max-width: 80%;
    width: 1140px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #ffffff;
    text-shadow: 0 5px 10px black;
}

/* state styling */
.slider .list .item .content .state {
    letter-spacing: 5px;
    font-weight: bold;
}

/* styling for city and nickname */
.slider .list .item .content .city,
.slider .list .item .content .nickname {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.3em;
}

/* color change for city nicknames - may cycle this based on city */
.slider .list .item .content .nickname {
    color: rgb(0, 255, 170)
}

/* button styling */
.slider .list .item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    margin-top: 15px;
    gap: 10px;
}

/* left button - Day */
.slider .list .item .content button {
    border: none;
    letter-spacing: 5px;
    background-color: #eee;
    font-weight: 600;
}

/* right button - Night  */
/* adding secondary comment - not sure on how I like the Day - Night colors may flip after getting teams opinion */
.slider .list .item .content button:nth-child(2) {
    color: #eee;
    background-color: transparent;
    border: 1px solid #eee;
    text-shadow: 0 5px 10px black;
}

/* thumbnail */
.thumbnail, .thumbnail .card, .thumbnail .card img {
    background-color: transparent;
}

/* thumbnail position */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

/* thumbnail image sizing */
.thumbnail .card{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    color: #eee;
    text-shadow: 0 5px 10px black;
}

/* thumbnail container sizing */
.thumbnail .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* thumbnail image inside container sizing */
.thumbnail .card .content {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
}

/* thumbnail image text styling */
.thumbnail .card .content .title{
    font-weight: bold;
}

/* card slider buttons */
.slidearrow {
    position: absolute;
    align-items: center;
    right: 50%;
    top: 80%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 8px;
}

/* slider arrow button styling */
.slidearrow button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(238, 238, 238, 0.377);
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    transition: .5s;
    text-shadow: 0 5px 10px black;
}

/* arrows hover effect */
.slidearrow button:hover {
    background-color: rgb(238, 238, 238);
    color: #000;
}