/* Font Selection Imports  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Shrikhand&display=swap');

/* Root Setup for light and dark mode colors */
:root {
    --darkmain: #E9F2FF;
    --darksecond: #FBC4AD;
    --lightstate: #1F3340;
    --lightcity:    #FBC4AD;
    --lightnickname: #E9F2FF;
}

/* Main Body Styling */
body {
    margin: 0;
    background-color: #000;
    color: #E9F2FF;
    font-family: Poppins;
    font-size: 12px;
}

/* a tag styling */
a {
    text-decoration: none;
}

/* header styling */
header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a {
    color: #E9F2FF;
    margin-right: 40px;
    font-family: Castoro Titling;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 5px 10px #0004;
}

/* slider styling */
.slider {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
    
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* text styling in slider */
.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #E9F2FF;
    text-shadow: 0 5px 10px #0004;
}

/* state styling */
.slider .list .item .state {
    font-weight: 400;
    letter-spacing: 12px;
    font-size: 1.5em;
    font-family: Shrikhand;
    text-shadow: 0 5px 10px rgb(0, 0, 0);
}

/* styling for city and nickname */
.slider .list .item .city {
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 1em;
    font-family: Shrikhand;
    text-shadow: 0 5px 10px rgb(0, 0, 0);
}

.slider .list .item .nickname {
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 1em;
    font-family: Shrikhand;
    text-shadow: 0 5px 10px rgb(0, 0, 0);
}

.slider .list .item .des {
    font-size: 1.5em;
    font-weight: 300; 
    text-shadow: 0 5px 10px rgb(0, 0, 0);
    color: #E9F2FF;
    letter-spacing: 1.5px;
}

.slider .list .item .state {
    border-radius: 5px 5px 0 0;
}

.slider .list .item .des {
    border-radius: 0 0 5px 5px;
}

.slider .list .item .city, 
.slider .list .item .nickname,
.slider .list .item .state,
.slider .list .item .des {
    background-color: hsla(0, 0%, 0%, 0.356);
    padding-left: 20px;
}

/* color change for city nicknames - may cycle this based on city */
.slider .list .item .nickname {
    color: #FBC4AD;
}

/* button styling */
.slider .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.slider .list .item .buttons button {
    border: none;
    background-color: #E9F2FF;
    letter-spacing: 3px;
    font-family: Castoro Titling;
    font-weight: bold;
    font-size: 1.25em;
}

.slider .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #E9F2FF;
}

/* thumbnail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

/* thumbnail image sizing */
.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

/* thumbnail container sizing */
.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* thumbnail image inside container sizing */
.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .city {
    font-weight: 500;
    font-size: 1.5em;
}

.thumbnail .item .content .description {
    font-weight: 300;
    color: #FBC4AD;
    font-weight: bold;
    font-size: 1.5em;
}

/* arrowIcon */
.arrowIcon {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* arrow button styling */
.arrowIcon button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

/* arrow hover effect */
.arrowIcon button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.slider .list .item:nth-child(1) {
    z-index: 1;
}

/* setup for content animation */
.slider .list .item:nth-child(1) .content .state,
.slider .list .item:nth-child(1) .content .city,
.slider .list .item:nth-child(1) .content .nickname,
.slider .list .item:nth-child(1) .content .des,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: revealContent .5s 1s linear 1 forwards;
}

/* keyframe animation call above animation / function */
/* bring content from hidden 'to" revealed */
@keyframes revealContent {
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .city {
    animation-delay: 1.2s!important;
}
.slider .list .item:nth-child(1) .content .nickname {
    animation-delay: 1.6s!important;
}
.slider .list .item:nth-child(1) .content .des {
    animation-delay: 2.0s!important;
}
.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 2.2s!important;
}
/* setup for next button click animations */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: revealThumbnail .5s linear 1 forwards;
}
@keyframes revealThumbnail {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* animate last photo in thumbnail */
.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.previous .list .item img {
    z-index: 100;
}

/* keyframe to call above animation */
@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}
.slider.next .thumbnail {
    animation: translateThumbnail .5s linear 1 forwards;
}

@keyframes translateThumbnail {
    from {
        transform: translateX(150px);
    }
}

/*  time styling control */
.slider .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #FBC4AD;
    left: 0;
    top: 0;
}

.slider.next .time,
.slider.previous .time {
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
    from {width: 100%}
    to {width: 0}
}


/* prev click */
.slider.previous .list .item:nth-child(2) {
    z-index: 2;
}

.slider.previous .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame {
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.previous .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .arrowIcon button,
.slider.previous .arrowIcon button {
    pointer-events: none;
}
.slider.previous .list .item:nth-child(2) .content .state,
.slider.previous .list .item:nth-child(2) .content .city,
.slider.previous .list .item:nth-child(2) .content .nickname,
.slider.previous .list .item:nth-child(2) .content .des,
.slider.previous .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* media query for smaller screens - may need to adjust after testing */
@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
    }
    .slider .list .item .content .city {
        font-size: 30px;
    }
}