/* media query for smaller screens - may need to adjust after testing */

@media screen and (max-width: 542px) {
    header nav {
        font-size: .75em;
    }
    .nav-link {
        margin-right: 10px;
    }
    .slider .list .item .content .city {
        font-size: 20px;
    }
    .slider .list .item .buttons {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: 20px;
        margin-top: 20px;
    }
    .slider .list .item .des {
        font-size: 1.25em;
        letter-spacing: 1.3px;
    }
    .thumbnail .item {
        width: 230px;
        height: 300px;
        flex-shrink: 0;
        position: relative;
    }
}
    /* day button styling */
    .slider .list .item .buttons button {
        letter-spacing: 3px;
        font-size: 1em;
    }

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
    }
    .slider .list .item .content .city {
        font-size: 30px;
    }
    header nav {
        font-size: 1.25em;
    }
    .thumbnail .item {
        width: 170px;
        height: 250px;
    }
}

/* Media query for larger screens  */



/* - [ ]  media query break points
    - [ ]  mobile - 320px - 480px
    - [ ]  tablets - 481px-768px
    - [ ]  laptops - 769px - 1024px
    - [ ]  large - 1025px - 1200px
    - [ ]  oversized monitors -1201px - 1440px
    - [ ]  ultrawide - 1441px - 1960px
- [ ]  Iphone se 375 x 667 - doesn’t fit
- [ ]  galaxy s8  360 x 740 doesn’t fit
- [ ]  galaxy fold 280 x 653 doesn’t fit */